@font-face {
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: normal;
  src: local('Nerko One'), url('../Assets/Fonts/NerkoOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: normal;
  src: local('Cedarville Cursive'), url('../Assets/Fonts/CedarvilleCursive.ttf') format('truetype');
}

body {
	background-color: #f2f2e9;
	color: #675744;
}

.front-page-title {
	font-family: 'Nerko One';
	font-weight: normal;
	color: #897966;
}

.front-page-div {
	display: flex;
	justify-content: center;
	margin: 40px;
	flex-direction: column;
	align-items: center;
}

.front-page-image {
	width: 100%;
}

.front-page-tagline {
	font-family: 'Cedarville Cursive';
	font-size: 2.5rem;
	margin-bottom: 5px;
	margin-top: 5px;
}

.front-page-paragraph {
	margin-top: 5px;
	text-align: center;
	font-family: Georgia, monospace;
}

.front-page-button {
	margin-top: 50px;
	background-color: #dacdb3;
	width: 100%;
	font-size: 1.5rem;
	border: none;
	color: #675744;
	font-family: Georgia, monospace;
	font-weight: bold;
	padding: 20px;
	border-radius: 20px;
}
