@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=New+Amsterdam&display=swap');

.logo { 
	font-family: "New Amsterdam", cursive;
	text-align: center;
	font-weight: 400;
	color: grey;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.poem {
	font-family: "Qwitcher Grypen", cursive;
	font-size: 4rem;
	font-weight: 100;
	width: 100%;
	max-width: 500px;
	padding: 10px;
	backdrop-filter: blur(0rem);
	box-sizing: border-box;
	white-space: pre-line;
	text-align: center;
}

.poemtitle{
	font-weight: 500;
	font-size: 2rem;
	font-family: "New Amsterdam";
	margin-bottom: 0px;
}

.flower-count {
	margin-top: 0px;
	font-family: "ui-serif";
	font-weight: 300;
	font-size: 0.9rem;
}

@media (max-width: 900px) {
	.poem {
		font-size: 2rem;
		backdrop-filter: blur(2rem);
	}
}

.sidepanel {
	width: 100%;
	max-width: 500px;
	height: 500px;
	flex-shrink: 5;
	justify-content: center;
	position: sticky;
	bottom: 100px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}

.flowerContainer {
	width: 100%;
	height: 100%;
}

.backgroundFlower {
	object-fit: scale-down;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.flower {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.circle {
	background-image: linear-gradient(to bottom, #b8b4b4, #dbd9d9, white, white);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 500px;
	width: 500px;
	z-index: -2;
	border-radius: 50%;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 10px;
	gap: 20px;
	position: sticky;
	bottom: 50px;
}

.btn {
	height: 50px;
	width:  50px;
	border-radius: 50%;
}

.like {
	height: 70px;
	width: 70px;
}

.flowericon {
	height: 40px;
	width: 40px;
}
